# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FrontReact/node_modules
FrontReact/.pnp
FrontReact.pnp.js

# testing
FrontReact/coverage

# production
FrontReact/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

FrontReact/npm-debug.log*
FrontReact/yarn-debug.log*
FrontReact/yarn-error.log*
